[Unit]
Description=Prometheus Slurm Exporter

[Service]
ExecStart=/opt/prometheus-slurm-exporter/bin/prometheus-slurm-exporter -gpus-acct -listen-address ":9092"
EnvironmentFile=/etc/prometheus-slurm-exporter/env.conf
Restart=always
RestartSec=15

[Install]
WantedBy=multi-user.target
