scrape_configs:
  - job_name: 'dcgm_exporter'
    static_configs:
      - targets: ["instance_name:8000"]
    relabel_configs:
      - source_labels: [__address__]
        target_label: instance
        regex: '([^:]+)(:[0-9]+)?'
        replacement: '${1}'
  - job_name: 'net_exporter'
    static_configs:
      - targets: ["instance_name:8001"]
    relabel_configs:
      - source_labels: [__address__]
        target_label: instance
        regex: '([^:]+)(:[0-9]+)?'
        replacement: '${1}'
  - job_name: 'node_exporter'
    static_configs:
      - targets: ["instance_name:8002"]
    relabel_configs:
      - source_labels: [__address__]
        target_label: instance
        regex: '([^:]+)(:[0-9]+)?'
        replacement: '${1}'